build/
dist/
karma-tests/
tests_disabled/
venv/
collections/
wombat/
docs/

.cache/
.eggs/
.git/
.github/
.venv
.travis
.pytest_cache

.coveragerc
.dockerignore
.editorconfig
.gitattributes
.gitignore
.travis.yml
appveyor.yml
package.json
run-*
Vagrantfile
Dockerfile

**/*.egg
**/*.egg-info
**/__pycache__
**/*.pyc
