build/
dist/
karma-tests/
sample_archive/
tests/
tests_disabled/
venv/
collections

.cache/
.eggs/
.git/
.github/
.venv
.travis
.pytest_cache

.coveragerc
.dockerignore
.editorconfig
.gitattributes
.gitignore
.travis.yml
appveyor.yml
package.json
run-*
Vagrantfile

**/*.egg
**/*.egg-info
**/__pycache__
**/*.pyc