build/
dist/
karma-tests/
sample_archive/
tests/
tests_disabled/

.cache/
.eggs/
.git/
.github/

.coveragerc
.dockerignore
.editorconfig
.gitattributes
.gitignore
.travis.yml
appveyor.yml
package.json
run-*
Vagrantfile

**/*.egg
**/*.egg-info
**/__pycache__
**/*.pyc
