six
warcio>=1.7.1
requests
redis==2.10.6
jinja2>=3.1.2
surt>=0.3.1
brotlipy
pyyaml
werkzeug==2.2.3
webencodings
gevent==22.10.2; python_version<"3.8"
gevent==23.9.0.post1; python_version>="3.8"
greenlet>=2.0.2,<3.0; python_version<"3.12"
greenlet==3.2.4; python_version>="3.12.0rc0"
webassets==2.0
portalocker
wsgiprox>=1.5.1
fakeredis<1.0
tldextract
python-dateutil
markupsafe>=2.1.1
ua_parser
py3AMF
