collections_root: collections

paths:
    archive_paths: archive
    index_paths: indexes
    static_path: static

    templates_dir: templates

    template_files:
        banner_html: banner.html
        head_insert_html: head_insert.html
        frame_insert_html: frame_insert.html

        query_html: query.html
        search_html: search.html
        not_found_html: not_found.html

    shared_template_files:
        home_html: index.html
        error_html: error.html

        proxy_cert_download_html: proxy_cert_download.html
        proxy_select_html: proxy_select.html

head_insert_html: templates/head_insert.html
frame_insert_html: templates/frame_insert.html
banner_html: banner.html

home_html: templates/index.html

query_html: templates/query.html
search_html: templates/search.html

error_html: templates/error.html
not_found_html: templates/not_found.html

proxy_cert_download_html: templates/proxy_cert_download.html
proxy_select_html: templates/proxy_select.html

static_default_prefix: &static_default_prefix static/__pywb
static_shared_prefix: static/__shared

template_globals:
    static_path: *static_default_prefix

static_routes:
    *static_default_prefix: pywb/static/

enable_memento: true

domain_specific_rules: pywb/rules.yaml

framed_replay: true
