{% if not env.pywb_proxy_magic or config.proxy.enable_banner | default(true) %}
{% autoescape false %}
<script>
window.banner_info = {
    is_gmt: true,

    liveMsg: decodeURIComponent("{{ _Q('Live on') }}"),

    calendarAlt: decodeURIComponent("{{ _Q('Calendar icon') }}"),
    calendarLabel: decodeURIComponent("{{ _Q('View All Captures') }}"),
    choiceLabel: decodeURIComponent("{{ _Q('Language:') }}"),
    loadingLabel: decodeURIComponent("{{ _Q('Loading...') }}"),
    logoAlt: decodeURIComponent("{{ _Q('Logo') }}"),

    locale: "{{ env.pywb_lang | default('en') }}",
    curr_locale: "{{ env.pywb_lang }}",
    locales: {{ locales }},
    locale_prefixes: {{ get_locale_prefixes() | tojson }},
    prefix: "{{ wb_prefix }}",
    staticPrefix: "{{ static_prefix }}",

    logoImg: "{{ ui.logo }}"
};
</script>
<script src="{{ static_prefix }}/loading-spinner/loading-spinner.js"></script>
<script src="{{ static_prefix }}/vue/vueui.js"></script>
<link rel="stylesheet" href='{{ static_prefix }}/vue_banner.css'/>

{% include 'bootstrap_jquery.html' ignore missing %}

{% endautoescape %}
{% endif %}
