<!DOCTYPE html>
<html lang="{{ env.pywb_lang | default(default_locale) }}">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8;charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %}</title>

        {% include 'bootstrap_jquery.html' ignore missing %}

        {% block head %}
        {% include 'head.html' ignore missing %}
        {% endblock %}
    </head>

    <body>
        {% block header %}
        {% include 'header.html' ignore missing %}
        {% endblock %}

        <section>
        {% block body %}
        {% endblock %}
        </section>

        {% block footer %}
        {% include 'footer.html' ignore missing %}
        {% endblock footer %}
    </body>
</html>
