{% extends "base.html" %}

{% block title %}
{{ _('Search Results') }}
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ static_prefix }}/css/query.css">
<script src="{{ static_prefix }}/url-polyfill.min.js"></script>
<script src="{{ static_prefix }}/query.js"></script>
{% endblock %}


{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <h4 class="display-4 text-center text-sm-left p-0">{{ _('Search Results') }}</h4>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center text-center text-sm-left mt-1" id="display-query-type-info"></div>
</div>
<div class="container mt-3 q-display" id="captures"></div>
<script>
  var text = {
      months: {
       '01': "{{ _('January') }}",
       '02': "{{ _('February') }}",
       '03': "{{ _('March') }}",
       '04': "{{ _('April') }}",
       '05': "{{ _('May') }}",
       '06': "{{ _('June') }}",
       '07': "{{ _('July') }}",
       '08': "{{ _('August') }}",
       '09': "{{ _('September') }}",
       '10': "{{ _('October') }}",
       '11': "{{ _('November') }}",
       '12': "{{ _('December') }}",
      },
      version: "{{ _('capture') }}",
      versions: "{{ _('captures') }}",
      result: "{{ _('result') }}",
      results: "{{ _('results') }}",
      viewAllCaptures: "{{ _('View All Captures') }}",
      dateTime: "{{ _('Date Time: ') }}",
    };

  var renderCal = new RenderCalendar({ prefix: "{{ prefix }}", staticPrefix: "{{ static_prefix }}", text: text });
  renderCal.init();
</script>
{% endblock %}
