{% extends "base.html" %}

{% block title %}
{{ _('Search Results') }}
{% endblock %}

{% block head %}
{{ super() }}

<script src="{{ static_prefix }}/loading-spinner/loading-spinner.js"></script>
<script src="{{ static_prefix }}/vue/vueui.js"></script>

{% include 'vue_loc.html' %}

{% endblock %}


{% block body %}

<div id="app" style="width: 100%; height: 100%"></div>

<script>
  var text = {
      months: {
       '01': "{{ _('January') }}",
       '02': "{{ _('February') }}",
       '03': "{{ _('March') }}",
       '04': "{{ _('April') }}",
       '05': "{{ _('May') }}",
       '06': "{{ _('June') }}",
       '07': "{{ _('July') }}",
       '08': "{{ _('August') }}",
       '09': "{{ _('September') }}",
       '10': "{{ _('October') }}",
       '11': "{{ _('November') }}",
       '12': "{{ _('December') }}",
      },
      version: "{{ _('capture of') }}",
      versions: "{{ _('captures of') }}",
      result: "{{ _('result') }}",
      results: "{{ _('results') }}",
      matching: "{{ _('for matching') }}",
      by: "{{ _('by') }}",
      viewAllCaptures: "{{ _('View All Captures') }}",
      dateTime: "{{ _('Date Time: ') }}",
      mimeType: "{{ _('Mime Type: ') }}",
      httpStatus: "{{ _('HTTP Status: ') }}",
      types: {
        'prefix': "{{ _('prefix') }}",
        'host': "{{ _('host') }}",
        'domain': "{{ _('domain') }}",
      },
    };

  VueUI.main("{{ static_prefix }}", "{{ url }}", "{{ prefix }}", undefined, "{{ ui.logo }}", "{{ ui.navbar_background_hex | default('f8f9fa') }}", "{{ ui.navbar_color_hex | default('212529') }}", "{{ ui.navbar_light_buttons }}", "{{ env.pywb_lang | default('en') }}",
      allLocales, i18nStrings);

</script>

{% endblock %}
