<script>

{% autoescape false %}
    var allLocales =  {{ get_locale_prefixes() }};
{% endautoescape %}
    var i18nStrings = {
        jan_long: "{{ _Q('January') }}",
        feb_long: "{{ _Q('February') }}",
        mar_long: "{{ _Q('March') }}",
        apr_long: "{{ _Q('April') }}",
        may_long: "{{ _Q('May') }}",
        jun_long: "{{ _Q('June') }}",
        jul_long: "{{ _Q('July') }}",
        aug_long: "{{ _Q('August') }}",
        sep_long: "{{ _Q('September') }}",
        oct_long: "{{ _Q('October') }}",
        nov_long: "{{ _Q('November') }}",
        dec_long: "{{ _Q('December') }}",
        jan_short: "{{ _Q('Jan') }}",
        feb_short: "{{ _Q('Feb') }}",
        mar_short: "{{ _Q('Mar') }}",
        apr_short: "{{ _Q('Apr') }}",
        may_short: "{{ _Q('May') }}",
        jun_short: "{{ _Q('Jun') }}",
        jul_short: "{{ _Q('Jul') }}",
        aug_short: "{{ _Q('Aug') }}",
        sep_short: "{{ _Q('Sep') }}",
        oct_short: "{{ _Q('Oct') }}",
        nov_short: "{{ _Q('Nov') }}",
        dec_short: "{{ _Q('Dec') }}",
        mon_short: "{{ _Q('Mon') }}",
        tue_short: "{{ _Q('Tue') }}",
        wed_short: "{{ _Q('Wed') }}",
        thu_short: "{{ _Q('Thu') }}",
        fri_short: "{{ _Q('Fri') }}",
        sat_short: "{{ _Q('Sat') }}",
        sun_short: "{{ _Q('Sun') }}",
        mon_long: "{{ _Q('Monday') }}",
        tue_long: "{{ _Q('Tuesday') }}",
        wed_long: "{{ _Q('Wednesday') }}",
        thu_long: "{{ _Q('Thursday') }}",
        fri_long: "{{ _Q('Friday') }}",
        sat_long: "{{ _Q('Saturday') }}",
        sun_long: "{{ _Q('Sunday') }}",
        "All-time": "{{ _Q('All-time') }}",
        "Show timeline":"{{ _Q('Show timeline') }}",
        "Hide timeline":"{{ _Q('Hide timeline') }}",
        "Show calendar":"{{ _Q('Show calendar') }}",
        "Hide calendar":"{{ _Q('Hide calendar') }}",
        "Previous capture":"{{ _Q('Previous capture') }}",
        "Next capture":"{{ _Q('Next capture') }}",
        "Print":"{{ _Q('Print') }}",
        "Select language":"{{ _Q('Select language') }}",
        "View capture on {date}":"{{ _Q('View capture on {date}') }}",
        "{count} capture":"{{ _Q('{count} capture') }}",
        "{count} captures":"{{ _Q('{count} captures') }}",
        "{capture_text} on {date}":"{{ _Q('{capture_text} on {date}') }}",
        "{capture_text} in {month}":"{{ _Q('{capture_text} in {month}') }}",
        "current":"{{ _Q('current') }}", // translators: current capture in list of captures
        "Loading...": "{{ _Q('Loading...') }}",
        "Current Capture": "{{ _Q('Current Capture') }}",
        "capture": "{{ _Q('capture') }}",
        "captures": "{{ _Q('captures') }}",
        "{count} capture": "{{ _Q('{count} capture') }}",
        "View capture on {date}": "{{ _Q('View capture on {date}') }}",
        "from {hour1} to {hour2}": "{{ _Q('from {hour1} to {hour2}') }}",
        "no captures": "{{ _Q('no captures') }}",
        "Archived Page: ": "{{ _Q('Archived Page: ') }}",
        "Zoom out to {id} ({count} captures)": "{{ _Q('Zoom out to {id} ({count} captures)') }}",
        "Language:": "{{ _Q('Language') }}",
        "Search for archival capture of URL": "{{ _Q('Search for archival capture of URL') }}",
        "Toggle navigation": "{{ _Q('Toggle navigation') }}",
        "Logo": "{{ _Q('Logo') }}",
      }
</script>
